html {
  background: rgb(24, 95, 24);
}

.btn {
  height: 30px;
  border: none;
  border-radius: 20px;
  width: 130px;
  color: white;
  background-color: rgba(0, 0, 0, 0.11);
  outline: none;
  letter-spacing: 1px;
  margin: 5px;
}

.input {
  width: 100px;
  text-align: center;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.pageTitle {
  color: white;
  margin: 20px;
}

.cards {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.cards div {
  height: 120px;
  width: 79px;
  border-radius: 7px;
  margin: 5px;
  padding: 6px;
  font-size: 15px;
  background-color: white;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.controls {
  margin: 20px;
}
